.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  max-width: 90%;
  width: 100%;
  margin: 130px auto 80px;
}
.container div {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  gap: 10px;
  cursor: pointer;
}
.container div img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  opacity: .7;
  transition: opacity 0.3s ease-in-out;
}
.container div img:hover {
  opacity: 1;
}
.container div a {
  font-size: 14px;
}