.title {
  width: 80%;
  margin: 0 auto 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.container div {
  width: 23%;
  text-align: center;
}
.container div img {
  width: 100%;
  border: 1px solid #222;
  border-radius: 10px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
.container div img:hover {
  opacity: 1;
}
.container div p {  
  overflow: hidden;
  display: block;
  margin-top: 4px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
}